/* override some styles in nav */
nav {
    background-color: #1e4278;
}

#filterCol {
    color: white;
    padding-top: 2em;
}

#filterCol input[type=submit] {
    background: green;
    outline: none;
    color: white;
    border-radius: 0.15em;
    border-style: none;
    margin-left: 1em;
    cursor: pointer;
    /*font-size: 1em;*/
    padding: 0.5em;
}

#filterCol input[type=submit]:active {
    color: black;
    background-color: white;
}

#filterCleanButton {
    font-size: 0.7em;
    padding: 0.5em;
    background-color: red;
    outline: none;
    color: white;
    border-radius: 0.15em;
    border-style: none;
    margin-left: 0.5em;
    cursor: pointer;
    /*font-size: 1em;*/
    width: 5em;
    height: 2em;
}

#sideSignUpButton {
    margin-left: 1em;
    margin-right: 10em;
}

#containerOfList {
    margin-top: 10em;
}

a {
    color: black;
}

a:visited {
    color: black;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 1em;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(1) {
    background-color: #5f74d2;
    color: white;
}